<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="cn" connectionString="Data Source=DESKTOP-9J4NFK9\SQLEXPRESS; Initial Catalog=BalletStudio; Integrated Security = True"/>
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		
		<add key="ParentID" value="InstructorID"/>
		<add key="ChildID" value="GroupID"/>
		<add key="ChildColumns" value="NumberStudents,ExperienceYears"/>
		<add key="SelectParent" value="SELECT * FROM Instructors"/>
		<add key="SelectChild" value ="SELECT * FROM Groups WHERE InstructorID=@InstructorID"/>
		<add key="AddChild" value="INSERT INTO Groups VALUES (@InstructorID,@NumberStudents,@ExperienceYears)"/>
		<add key="RemoveChild" value="DELETE FROM Groups WHERE GroupID=@GroupID"/>
		<add key="UpdateChild" value="UPDATE Groups SET InstructorID=@InstructorID, NumberStudents=@NumberStudents, ExperienceYears=@ExperienceYears where GroupID=@GroupID"/>

		<!--
		<add key="ParentID" value="GroupID"/>
		<add key="ChildID" value="StudentID"/>
		<add key="ChildColumns" value="FirstName,LastName,Telephone,Age"/>
		<add key="SelectParent" value="SELECT * FROM Groups"/>
		<add key="SelectChild" value ="SELECT * FROM Students WHERE GroupID=@GroupID"/>
		<add key="AddChild" value="INSERT INTO Students VALUES (@GroupID,@FirstName,@LastName,@Telephone,@Age)"/>
		<add key="RemoveChild" value="DELETE FROM Students WHERE StudentID=@StudentID"/>
		<add key="UpdateChild" value="UPDATE Students SET GroupID=@GroupID, FirstName=@FirstName, LastName=@LastName, Telephone=@Telephone, Age=@Age where StudentID=@StudentID"/>
		-->
		
	</appSettings>
	
</configuration>